body{
margin:0;
font-family:Arial;
background:#f4f7fc;
}

.matriculas-img{
width:300px;
max-width:90%;
height:auto;
display:block;
margin:auto;
border-radius:15px;
}

.hero{
background:white;
padding:30px;
margin:30px;
border-radius:15px;
}

.nav a{
background:#0f4ad4;
color:white;
padding:10px 15px;
text-decoration:none;
border-radius:10px;
}
